@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sometype Mono', monospace;
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    height: 100%;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
}

h1 {
    color: #5c5c5c;
    padding: 10px;
}

.resume {
    display: flex;
    padding: 10px 0;
    gap: 40px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.resume>div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px #1b1b1b;
    border-radius: 10px;
    padding: 10px;
    width: 170px;
    background-color: #FF4081;
    color: #ffe4ff;
}

.newItem {
    display: flex;
    gap: 10px;
    align-items: end;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}

.divDesc,
.divType,
.divAmount {
    display: flex;
    flex-direction: column;
}

.newItem>button {
    background-color: #FF4081;
    color: #ffe4ff;
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 34px;
}

.newItem>button:hover {
    opacity: 0.8;
    transition: 0.4s ease-in-out;
    color: #ffe4ff;
}


input,
select {
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #ffe4ff;
    box-shadow: 0px 0px 2px #ffe4ff;
}

label {
    font-size: 1.2rem;
    font-weight: bold;

}

.divTable {
    width: 100%;
    display: flex;
    justify-content: center;
}

.divTable .columnAction i {

    color: #D83121;
}

table {
    width: 98%;
    padding: 20px 0;
    border-radius: 5px;

}

th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;

}

i {
    font-size: 25px;

}

.bxs-chevron-up-circle {
    color: #00C9A7;
}

.bxs-chevron-down-circle {
    color: #D83121;
}

.columnAction {
    width: 40px;
    text-align: center;
}

.columnAction>button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.columnAmount {
    width: 30%;
}

.columnType {
    width: 80px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    main {
        height: 100%;
        width: 100%;
        background-color: #f5f5f5;
    }

    .resume>div {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 3px #1b1b1b;
        border-radius: 10px;
        padding: 10px;
        width: 100px;
        background-color: #FF4081;
        color: #ffe4ff;
    }

}

@media screen and (max-width: 500px) {
    main {
        height: 100%;
        width: 100%;
        background-color: white;
    }
}